@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", "Delicious-SmallCaps", "Instruction",
    "Fontin Sans Small Caps", "Fontin Sans CR SC", "Dinamika Medium", sans-serif;
  letter-spacing: 1.9px;
  font-weight: normal;
}

header {
  background: #cdcdcd;
  height: 100vh;
}

nav {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;
}

.logo-text {
  font-weight: normal;
  font-size: 2rem;
}

.logo-box {
  float: left;
  margin-left: 50px;
}

.logo {
  margin: 0;
  height: 70px;
  padding-top: 1.25rem;
}

.logo__img__top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7rem;
  padding-top: -8rem;
  margin-top: -0.8rem;
  margin-left: 5rem;
}

.logo__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

ul {
  margin: 0;
  margin-right: 25px;
  padding-left: 0;
  list-style: none;
  float: right;
  height: 70px;
  line-height: 70px;
}

a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: black;
}

li a {
  color: black;
  text-transform: uppercase;
}

li {
  display: inline-block;
  margin-left: 50px;
  transition: 0.5s linear;
}

li a:after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 20px;
  background: black;
  transition: all 0.5s linear;
}

li a:hover:after {
  width: 100%;
}

.text-center {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 20vh;
}

.h1-header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.p-header {
  margin-top: -1rem;
}

.chevron {
  text-align: center;
  margin-top: 2.1rem;
  transform: scale(1, 2);
  transform-origin: 0 0;
  font-size: 0.8rem;
}

.bullets {
  text-align: center;
  margin-top: 10vh;
}

.black-bullet {
  font-size: 2rem;
}

.display__inline-block {
  display: inline-block;
}

.about-us {
  height: 100vh;
}

.h2__about-us {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.div__about-us {
  text-align: center;
  margin-bottom: 10rem;
}

.gray-bullet {
  color: #cdcdcd;
  font-size: 35rem;
  margin-top: -25rem;
}

.margin-left {
  margin-left: 10rem;
}

.div__about-us__numbers {
  margin-top: -5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
}

.div__about-us__text {
  font-size: 0.75rem;
  color: darkgray;
}

.services {
  height: 100vh;
}

.h2__services {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.p__services {
  text-align: center;
  margin-top: -3rem;
}

.div__services {
  text-align: center;
  margin-top: 10rem;
}

.services-icon {
  color: #cdcdcd;
  font-size: 35rem;
  margin-top: -25rem;
}

.div__service__name {
  margin-top: -5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
}

.div__service__text {
  font-size: 0.75rem;
  color: darkgray;
  width: 11vw;
}

.contact-us {
  height: 100vh;
}

.div__contact-us {
  text-align: left;
  margin-left: 25vw;
}

.h2__contact-us {
  text-align: center;
  margin-top: 18rem;
  margin-bottom: 5rem;
}

.div__contact-us__text {
  width: 20vw;
  margin-left: 20rem;
}

.div__contact-us__text__lorem {
  font-size: 0.75rem;
}

.div__contact-us__text__1600 {
  font-size: 0.98rem;
}

.div__contact-us__text__phone {
  font-size: 0.98rem;
}

.div__contact-us__smm {
  font-size: 1.7rem;
  font-weight: 100;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: white;
  margin: 1em;
  border-radius: 50%;
  text-align: center;
  border: 1px solid black;
}

.margin-left__smm {
  margin-left: -0.2rem;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */

input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */

input:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */

textarea:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */

textarea:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */

.your-name {
  height: 30px;
  width: 300px;
}

.your-email {
  height: 30px;
  width: 300px;
}

.your-message {
  height: 140px;
  width: 300px;
}

input[type="submit"] {
  border: 1px solid #eb5d5d;
  color: #fff;
  background: #eb5d5c;
  padding: 10px 40px;
  border-radius: 1px;
}

input[type="submit"]:hover {
  background: #f44c0e;
}

.footer {
  height: 70vh;
  background-color: #565d67;
}

.h2__footer {
  text-align: center;
  margin-top: 28rem;
  margin-bottom: 3rem;
  padding-top: 5rem;
}

.p__footer {
  text-align: center;
  margin-top: -1rem;
}

.div__footer {
  text-align: center;
}

.div__contact-us__smm__565d67 {
  font-size: 1.7rem;
  font-weight: 100;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #565d67;
  margin: 1em;
  border-radius: 50%;
  text-align: center;
  border: 1px solid white;
  color: white;
}

.margin-left__smm__565d67 {
  margin-left: -0.2rem;
}

@media screen and (max-width: 574px) {
  .logo-box {
    float: none;
    margin: 0 auto;
  }
  ul {
    float: none;
    margin: 0 25px;
  }
  li:first-of-type {
    margin-left: 0;
  }
}

@media screen and (max-width: 493px) {
  nav {
    overflow: visible;
  }
  ul {
    height: auto;
    margin: 25px 25px 0 25px;
    line-height: 50px;
  }
  li {
    display: block;
    margin: 0;
  }
  li:hover {
    background: red;
  }
  li a:after {
    content: none;
  }
}
